.media-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 2.5%;
    background: #f2f2f2;
}

.media-form .section-title {
    color: #272727;
    font-weight: normal;
    font-size: 1.5rem;
}

.media-form input,
.media-form textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.media-form textarea {
    height: 200px;
    resize: vertical;
    overflow-y: auto;
}

.media-form button {
    padding: 10px;
    background-color: #366b4b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.media-form button:hover {
    background-color: #28543f;
}

.media-form p,
.media-form label {
    color: #272727;
}