.section-title {
    color: #272727;
}

.user-login {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 2.5%;
    background: #f2f2f2;
}

.user-login input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.user-login button {
    padding: 10px;
    background-color: #366b4b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.user-login button:hover {
    background-color: #28543f;
}

.user-login p {
    color: #272727;
}