.profile {
    display: flex;
    flex-direction: column;
}

.user .profile-content {
    width: 60%;
    min-width: 300px;
    border-radius: 2.5px;
    padding: 1rem;
    background-color: rgb(66, 76, 71);
    box-shadow: 0 2px 5px black;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.user .profile-header {
    display: flex;
    align-items: start;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
    position: relative;
}

.user .profile-pic {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.user .username {
    font-size: 0.9rem;
    color: #d0d0d0;
    width: fit-content;
}

.user .bio {
    font-size: 0.8rem;
    color: #d0d0d0;
    max-height: 100px;
    overflow-y: auto;
}

.count button {
    background-color: #38403c;
    border-radius: 2.5px;
    border: 0;
    padding: 0.5rem;
    color: #d0d0d0;
}

.count button:hover {    
    background-color: #2d3330;
}

.profile-hamburger {
  background: none;
  color: #d0d0d0;
  border: 0;
  margin: 0;
  cursor: pointer;
  font-size: 2rem;
}

.profile-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #4e9367;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 500;
  flex-direction: column;
}

.profile-dropdown-menu.menu-open {
    display: flex;
}

.user-info {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 672px) {
    .user .profile-content {
        max-width: none;
        min-width: none;
        width: 92%;
    }
}