.user .profile-content {
    border: 1px solid #000;
    min-width: 300px;
    min-height: 200px;
    border-radius: 2.5px;
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(66, 76, 71);
    box-shadow: 0 2px 5px black;
    
}

.user .profile-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

.user .profile-pic {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    overflow: hidden;
}

.user .username {
    font-size: 0.9rem;
    color: #d0d0d0;
    width: fit-content;
}

.user .bio {
    font-size: 0.8rem;
    color: #d0d0d0;
    max-height: 100px;
    overflow: scroll;
}