/* Styling buttons in Navbar */
.nav-button {
  background-color: #366b4b;
  color: white;
  padding: 1rem;
  width: 6rem;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav-button:hover {
  background-color: #28543f;
}

.nav-button.active {
  background-color: #28543f;
}

  /* Styling Add Item Button */
.add-item {
  background-color: #366b4b;
  color: white;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
  
/* Dropdown buttons on cards */
.small-button {
  background-color: #366b4b;
  color: white;
  padding: 0.9rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.small-button:hover {
  background-color: #28543f;
}