.card {
    border: 1px solid #000;
    min-width: 200px;
    max-width: 200px;
    min-height: 250px;
    overflow: hidden;
    background-color: rgb(66, 76, 71);
    box-shadow: 0 2px 5px black;
    display: flex;
    flex-direction: column;
}

.card.review {
    height: 300px;
}

.card-content {
    padding: 1rem;
    height: 100%;
}

.card-type {
    margin: 0.25rem 0;
    font-size: 0.9rem;
    color: rgb(166, 166, 166);
}

.card-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.card-media-name {
    padding: 0%;
    background: none;
    border: none;
    text-align: left;
    margin: 0;
    font-size: 1.3rem;
}

.card-media-name:hover {
    color: rgb(164, 255, 168);
}

.card-username {
    padding: 0%;
    background: none;
    border: none;
    text-align: left;
    margin: 0.1rem 0;
    font-size: 0.9rem;
    color: rgb(166, 166, 166);
}

.card-username-button {
    padding: 0%;
    background: none;
    border: none;
    text-align: left;
    margin: 0.1rem 0;
    font-size: 0.9rem;
    color: rgb(166, 166, 166);
}

.user .card-username-button {
    font-size: 1rem;
}

.card-username-button:hover {
    color: rgb(164, 255, 168);
}

.card-rating {
    margin: 0.1rem 0;
    font-size: 1rem;
}

.card-description {
    font-size: 0.9rem;
    color: #d0d0d0;
    max-height: 7rem;
    overflow-y: auto;
    margin-bottom: 0;
}

.card-content.footer {
    font-size: 0.75rem;
    color: rgb(166, 166, 166);
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
    align-items: flex-end;
}

.card-description::-webkit-scrollbar {
    width: 4px;
}
.card-description::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* Card Resizing for different screen sizes */

.card:not(:last-child) {
    margin-right: 4px;
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }

    .card:not(:last-child) {
        margin-right: 4px;
    }
}

@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }

    .card:not(:last-child) {
        margin-right: 8px;
    }
}

@media (min-width: 1100px) {
    .card {
        flex-basis: calc(25% - 30px);
    }
}