.overlay .media-content {
    background-color: #242424;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    min-width: 300px;
    border-radius: 2.5px;
    max-height: 90vh;
    overflow-y: scroll;
    padding: 1rem;
}

.overlay {
    padding: 0.25rem;
}

.overlay .media-image {
    max-height: 200px;
}

.overlay .title {
    margin: 0.25rem 0;
    font-size: 1.5rem;
    color: #d0d0d0;
}

.overlay .medium {
    font-size: 0.9rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: #a5a5a5;
    max-height: 100px;
    font-weight: normal;
}

.overlay .description {
    font-size: 1rem;
    font-weight: normal;
    color: #a5a5a5;
    max-height: 100px;
    overflow: scroll;
}

@media (max-width: 500px) {
  .overlay .media-image {
    width: 200px;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
}