.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e9367;
  color: #fff;
}

/* NAVBAR LEFT */

/* NAVBAR CENTER */

/* NAVBAR RIGHT */

.navbar-right .nav-buttons {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}